*
{
    box-sizing: border-box;
}

body
{
    background-color: #131720;
    font-family: sans-serif;

}
h3
{
    color:white;
}

.topnav
{
    overflow: hidden;
    background-color: #131720;
    padding:15px;
}

.topnav a
{
    float:left;
    display: block;
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topnav .search-container
{
    float:right;
}


form 
{
    background-color: #19263b;
    width: 350px;
    height: 44px;
    border-radius: 100px;
}

input
{
    all:unset;
    font:15px system-ui;
    /* color:#fff;*/
    color:black;
    height: 100%;
    width: 100%;
    padding:2px 9px;
    text-align: center;
}

.thumbnail
{
    height: 350px;
    width: 300px;
    border-radius: 20px;
}

.column
{
    float:left;
    width: 25%;
    padding: 10px 10px;
}

.card
{
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    background-color: #19263b;
}